<section id="listings__Hot-Listings__3" class="listings__section listings__section--zebra" style=" ">

  <div class="listings__content">
    <h1 class="listings__title">Trending products on Samaanx</h1>

    <div class="listings__paragraph--markdown">
      <p>Get inspired by what people in your city are buying from abroad with the biggest savings</p>

    </div>

    <div class="listings__listings">
        <div class="listings__listing">
          <a href="/en/listings/1384731">
              <div class="listings__listing-image" style="background-image: url(https://graber-images.s3-us-east-2.amazonaws.com/images/listing_images/images/3933312/big/cat2.png?1620924737)"></div>
            <h3 class="listings__listing-title">test listing</h3>
          </a>
          <div class="listings__listing-info">
            <div class="listings__Hot-Listings__3__listings__price-container listings__price-container">
                <span class="listings__price-amount">$12</span>

                  <span class="listings__price-unit">/ unit</span>
            </div>
            <a class="listings__Hot-Listings__3__listings__author-link listings__author-link" href="/en/puneetk">
              <div class="listings__author-container">
                <div class="listings__author-avatar-container">
                    <div class="listings__author-avatar" style="background-image: url(https://graber-images.s3-us-east-2.amazonaws.com/images/people/images/xah4OvA6FF9qFAbCh2TJ7g/thumb/SampleJPGImage_5mbmb.jpg?1620924821)"></div>
                </div>
                <span class="listings__author-name">puneet k</span>
              </div>
            </a>
          </div>
        </div>
        <div class="listings__listing">
          <a href="/en/listings/1384731">
              <div class="listings__listing-image" style="background-image: url(https://graber-images.s3-us-east-2.amazonaws.com/images/listing_images/images/3933312/big/cat2.png?1620924737)"></div>
            <h3 class="listings__listing-title">test listing</h3>
          </a>
          <div class="listings__listing-info">
            <div class="listings__Hot-Listings__3__listings__price-container listings__price-container">
                <span class="listings__price-amount">$12</span>

                  <span class="listings__price-unit">/ unit</span>
            </div>
            <a class="listings__Hot-Listings__3__listings__author-link listings__author-link" href="/en/puneetk">
              <div class="listings__author-container">
                <div class="listings__author-avatar-container">
                    <div class="listings__author-avatar" style="background-image: url(https://graber-images.s3-us-east-2.amazonaws.com/images/people/images/xah4OvA6FF9qFAbCh2TJ7g/thumb/SampleJPGImage_5mbmb.jpg?1620924821)"></div>
                </div>
                <span class="listings__author-name">puneet k</span>
              </div>
            </a>
          </div>
        </div>
        <div class="listings__listing">
          <a href="/en/listings/1384731">
              <div class="listings__listing-image" style="background-image: url(https://graber-images.s3-us-east-2.amazonaws.com/images/listing_images/images/3933312/big/cat2.png?1620924737)"></div>
            <h3 class="listings__listing-title">test listing</h3>
          </a>
          <div class="listings__listing-info">
            <div class="listings__Hot-Listings__3__listings__price-container listings__price-container">
                <span class="listings__price-amount">$12</span>

                  <span class="listings__price-unit">/ unit</span>
            </div>
            <a class="listings__Hot-Listings__3__listings__author-link listings__author-link" href="/en/puneetk">
              <div class="listings__author-container">
                <div class="listings__author-avatar-container">
                    <div class="listings__author-avatar" style="background-image: url(https://graber-images.s3-us-east-2.amazonaws.com/images/people/images/xah4OvA6FF9qFAbCh2TJ7g/thumb/SampleJPGImage_5mbmb.jpg?1620924821)"></div>
                </div>
                <span class="listings__author-name">puneet k</span>
              </div>
            </a>
          </div>
        </div>
    </div>

      <a class="listings__button--ghost listings__Hot-Listings__3__listings__button--ghost" href="http://www.samaanx.com/s">See more products</a>
  </div>
</section>